/* Change the color of the * of the required items of a form. */
form{
	font-size: 15px;
}

abbr[title="required"]{
	color: red;
	padding-left: 2px;
}

label{
	font-size: 14px;
}

input[type="submit"], input[type="button"], button{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

input[type="text"], input[type="password"]{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	width: 200px;
}

textarea{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}