#{extends 'layouts/application.html' /}
#{set title: 'Register' /}
<h2>Register</h2>
<div id="register">
	#{form @save()}
		<p>
			<label for="fullname">Full name</label><br/>
			<input type="text" name="user.fullName" id="fullName" value="${user?.fullName}" />
			#{if errors.forKey('user.fullName')}<span class="error">${errors.forKey('user.fullName')}</span>#{/if}
		</p>
				
		<p>
			<label for="email">E-mail</label><br/>
			<input type="text" name="user.email" id="email" value="${user?.email}" />
			#{if errors.forKey('user.email')}<span class="error">${errors.forKey('user.email')}</span>#{/if}
			#{if errors2 != null && errors2.contains('email')}<span class="error">${errors2.get("email").orNull()}</span>#{/if}
			
		</p>
		
		<p>
			<label for="password">Password</label><br/>
			<input type="password" name="user.password" id="password" value="" />
			#{if errors.forKey('user.password')}<span class="error">${errors.forKey('user.password')}</span>#{/if}
		</p>
		
		<p>
			<label for="passwordConfirmation">Password confirmation</label><br/>
			<input type="password" name="user.passwordConfirmation" id="password" value="" />
			#{if errors2 != null && errors2.contains('passwordConfirmation')}<span class="error">${errors2.get("passwordConfirmation").orNull()}</span>#{/if}
		</p>
		
		<p>
			<input type="submit" id="signup" value="Register" />
		</p>
	#{/form}
</div>

<a href="/login">Login</a><br />
<a href="/forgot_password">Forgot your password?</a>

