<div id="gallery_wrapper">
	<ul id="photos">
		<li>
			<img src="/public/images/galleryview/calendar.jpg" />
			<div class="panel-overlay">
				<!-- <img src="/images/galleryview/calendars48x48.gif" style="width: 48px; height: 48px;"/> -->
				<h2>Calendar</h2>
				<p>
					Use the calendar to keep track of the your appointments.
				</p>
			</div>
		</li>
		<li>
			<img src="/public/images/galleryview/tagcloud.png" />
			<div class="panel-overlay">
				<h2>Tag cloud</h2>
				<p>
					Organize your tasks in tags and search for them in the tag cloud.
				</p>
			</div>
		</li>
	</ul>
</div>