<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
	<meta name="description" content="Task management system." />
	<meta name="keywords" content="rememberto, ifrn, task, management, tarefa, gerenciamento, tags" />
	<title>remember to :: #{get 'title' /}</title>
	
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/header.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/footer.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/forms.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/fullcalendar.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/galleryview.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/navbar.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/pagination.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/tables.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/messages.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/tagcloud.css'}">
    #{get 'styles' /}

	<!-- Javascripts -->
	<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="@{'/public/javascripts/application.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="@{'/public/javascripts/navbar.js'}" type="text/javascript" charset="utf-8"></script>
	#{get 'scripts' /}
</head>
<body>
	<!-- Comments below are Ruby on Rails code, that were copied from remember_to's Rails versio. -->
	<div id="header" class="fill">
		<div id="user-info">
			#{if session["user"]}
				<!-- connectedUser.fullName ? connectedUser.fullName : connectedUser.email -->
				Hello, ${connectedUser.username()}! [<a href="/logout">Logout</a>]
			#{/if}
			#{else}
				<a href="/login">Login</a> or
				<a href="/register">Register</a>
			#{/else}
		</div>
		<div id="header-content">
			<div id="logo">
				<a href="/">
					<img src="/public/images/logo/logo.png">
					<img src="/public/images/logo/logo_text.png" id="logo-text">
				</a>
			</div>
			#{navbar /}
			<!-- = render :partial => "menus/navbar" -->
		</div>
	</div>
	<div id="wrapper">
		<div id="content">
			#{if flash.success}<p class="notice">${flash.success}</p>#{/if}
			#{if flash.error}<p class="alert">${flash.error}</p>#{/if}
			#{doLayout /}
		</div>
	</div>
	<div id="footer" >
		<div id="footer-content">
			<b><small>Copyright © Remember To ${new Date().format('yyyy')}. All rights reserved.</small></b>
		</div>
	</div>
</body>
</html>
